{% extends 'catalog/base.html' %}
{% block content %}
{% for i in category %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{i.name}}</h1>
                </div>
                <div class="card-body">
                    <p class="card-title pricing-card-title">{{i.description|truncatechars:100}}</p>

                    <a href="{% url 'catalog:product' i.pk %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Инфо</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}