{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12 mb-5" align="center">
    <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Новый продукт</a>
</div>
{% for object in object_list %}
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ object.name|title }}</h1>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">{{object.description}}</h4>
                    <div class="btn-group">

                        <a href="{% url 'catalog:product_view' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Инфо товара</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                           href="{% url 'catalog:product_update' object.pk %}">Редактировать
                        </a>
                        <a type="button" class="btn btn-sm btn-outline-danger"
                           href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}