{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ object.name }}</h1>
                </div>
                <p class="card-title pricing-card-title">Характеристики:</p>
                <p class="card-title pricing-card-title">Описание :{{object.description}}</p>
                <p class="card-title pricing-card-title">Категория: {{object.category}}</p>
                <p class="card-title pricing-card-title">Цена: {{object.price}}</p>
                {% if object.created_at is None %}

                {% else %}
                    <p class="card-title pricing-card-title">Дата добавления товара: {{object.created_at}}</p>
                {% endif %}
                {% if object.updated_at is None %}

                {% else %}
                    <p class="card-title pricing-card-title">Дата обновления товара: {{object.updated_at}}</p>
                {% endif %}
                {% if current_version %}
                <h6 class="card-title pricing-card-title">Версия {{ current_version }}</h6>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{product.image|mimedia}}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
{% endblock %}